<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/admin.css" />
    <title>AdminPage</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="nav">
        <ul class="menu-items">
          <li><a href="/add-product">Add products</a></li>
          <li><a href="/products">Products</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/products" method="POST">
        <input type="text" name="title" />
        <button type="submit">SEND</button>
      </form>
    </main>
  </body>
</html>
