doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/main.css')
  title #{pageTitle}
header.main-header
  nav.nav
    ul.menu-items
      li
        a(href='/add-product') Add products
      li
        a(href='/products') Products
main
  h1 Error 404
