* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;

  background-color: rgb(213, 200, 224);
}
.main-header {
  display: flex;
  height: 3rem;
  background-color: aqua;
}
.nav {
  display: flex;
  align-items: center;
}
.menu-items {
  list-style: none;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
}
li {
  list-style: none;
  text-decoration: none;
  margin: 0.5rem;
  color: aliceblue;
}
a {
  text-decoration: none;
  color: aliceblue;
}
