* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main__header {
  display: flex;
  height: 5rem;
  width: 100vw;
  background-color: rgb(18, 185, 129);
}
.main__header-items {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 100vw;
}
.main__header-item {
  color: #fff;
  padding: 1rem;
  list-style: none;
  font-size: large;
  font-weight: bold;
}
.main__header-item:hover {
  background-color: rgb(125, 233, 152);
}
.main__heading {
  width: 100vh;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  font: bold;
  font-size: 32px;
  color: rgb(18, 185, 129);
}
input {
  display: block;
  height: 2rem;
  padding: 1rem;
  margin: 1rem;
  outline: none;
}
a {
  text-decoration: none;
  color: #fff;
}
label {
  display: block;
  height: 2rem;

  margin: 1rem;
  color: rgb(12, 100, 71);
}
button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  color: #fff;
  background-color: rgb(9, 90, 29);
  border-radius: 8px;
  border: 1px solid black;
}
button:hover {
  box-shadow: 2px 2px 2px 2px rgba(233, 227, 227, 0.712);
  background-color: rgb(102, 194, 137);
}
.main__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 100vw;
}
.main__card {
  padding: 2rem;
  margin: 0 2rem;
  background-color: rgb(18, 185, 129);
  box-shadow: 5px 5px 2px 2px rgba(233, 227, 227, 0.712);
  color: #fff;
}
.main__card-heading {
  font-size: 30px;
  padding: 1rem;
  padding-top: 0;
  color: aquamarine;
}
.active__card {
  height: 15rem;
  width: 15rem;
  background-color: rgb(12, 100, 71);
  color: #fff;
}
.account {
  margin: 1rem;
  padding: 0.5rem;
}
.account__holder {
  box-shadow: 2px 2px 2px 2px rgba(233, 227, 227, 0.712);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.account__holder-avatar {
  background: url(./images/avatar.png) center/cover no-repeat;
  height: 8rem;
  width: 8rem;
  border: 1px solid black;
  border-radius: 50%;
  margin: 1rem;
}
.account__transaction {
  box-shadow: 2px 2px 2px 2px rgba(233, 227, 227, 0.712);
  width: 50%;
  padding: 1rem;
  margin: 1rem;
}
.account__transaction__withdraw {
  background-color: rgb(248, 112, 112);
  margin: 0.5rem;
  padding: 0.5rem;
}
.account__transaction__deposit {
  background: rgb(102, 194, 137);
  margin: 0.5rem;
  padding: 0.5rem;
}
.main__method {
  margin: 2rem 1rem;
  padding: 0.5rem;
  box-shadow: 4px 4px 4px 4px rgba(238, 236, 236, 0.712);
}
.main__method__header {
  display: flex;
  justify-content: space-between;

  background-color: rgb(12, 100, 71);
  padding: 1rem;
  color: #fff;
}
.main__method__actions {
  display: flex;
  flex-direction: column;
}
.main__method__cards {
  width: 90%;
  padding: 0.2rem;
  margin: 0.5rem 0.2rem;
  /* border: 1px solid rgb(12, 100, 71); */
  box-shadow: 2px 2px 2px 2px rgba(233, 227, 227, 0.712);
}
.main__method__add {
  width: 90%;
  padding: 0.2rem;
  margin: 0.5rem 0.2rem;
  /* border: 1px solid rgb(12, 100, 71); */
  box-shadow: 2px 2px 2px 2px rgba(233, 227, 227, 0.712);
}
.main__method-card {
  width: 20rem;
  text-align: center;
  padding: 0.5rem;
  border: 2px solid rgb(12, 100, 71);
  border-radius: 1rem;
  margin: 1rem 0.2rem;
}

@media (min-width: 40rem) {
  .main__method__actions {
    flex-direction: row;
  }
  .loan {
    flex-direction: row;
  }
}
footer {
  height: 5rem;
  background-color: rgb(25, 41, 36);
  text-align: center;
  padding: 2rem;
}
