<%- include('./includes/header.ejs') %>
<link rel="stylesheet" href="/error.css">
    <main class="main-error">
      <h1>Page not found</h1>
      <h2>Error 404</h2>
    </main>
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
