.products {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}
.product {
  border: 1px solid black;
  box-shadow: 3px 3px 3px grey;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 1rem;
  width: 30%;
  height: 35rem;
  justify-items: baseline;
}
img {
  display: block;
  height: 25rem;
}

.product-title {
  font-style: italic;
  font-weight: 800;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
}
.product-description {
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  color: gray;
  text-align: center;
}
.product-price {
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: rgb(18, 145, 102);
}
.product-button {
  display: flex;
  padding: 1rem;
  justify-content: space-around;

  justify-self: flex-end;
}
.link-button {
  font-size: small;
  display: inline-block;
  padding: 0.5rem 1rem;

  border: 1px solid black;
  background-color: rgb(18, 145, 102);
  color: #fff;
}
